header {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 80px;
  gap: 80px;
}

header > div {
  display: flex;
  align-items: center;
  gap: 80px;
}

header input {
  padding-left: 15px;
  border-radius: 100px;
  width: 224px;
  height: 40px;
  background: rgba(31, 41, 55, 0.6);
}

.header__text {
  font-size: 18px;
}

.header__logo {
  border-radius: 3px;
  background-color: #4b5563;
  padding: 6px 12px;
  font-weight: 600;
  margin-right: 10px;
}

.header__link {
  text-decoration: none;
  color: inherit;
}

.header_navList {
  display: flex;
  flex-direction: row;
}

.header_navList li {
  list-style: none;
  margin-right: 10px;
}

.header_navList a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}
