html {
  color: #fff;
  box-sizing: border-box;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  font-family: inherit;
}
